Source: wpia-cassiopeia
Section: utils
Priority: extra
Maintainer: WPIA Software Team <software@wpia.club>
Build-Depends: debhelper (>= 8.0.0), libtool, libpqxx-dev, libboost-test-dev
Standards-Version: 3.9.4
Homepage: https://wpia.club
#Vcs-Git: git://git.debian.org/collab-maint/cassiopeia.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/cassiopeia.git;a=summary

Package: wpia-cassiopeia
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: WPIA Certificate Signing Software
 This package provides the necessary tools to run a
 certificate signing instance

Package: wpia-cassiopeia-signer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: WPIA Certificate Signing Software
 This package provides the signer-side part of the
 WPIA signing software.

Package: wpia-cassiopeia-doc
Architecture: all
Description: Documentation for the WPIA Certificate Signing Software
 This package provides the necessary tools to run a
 certificate signing instance
